.todos-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    min-width: 18rem;   
}

.column {
    flex-direction: column;
}

.todo-input {
    background: white;
    border: none;
    display: block;
    padding: 1rem;
    width: 10rem;
}

.id {
    padding: 1rem;
}


/*SUBMIT KNAPP*/

.submit-todo {
    display: block;
    cursor: pointer;
    min-width: 10rem;
    padding: 0.5rem;
    margin-top: 1rem;
      
    border-radius: 50rem;
    outline: none;
}

.submit-todo:hover , button:hover {
    background: white;
}

/* ATT-GÖRA-LISTAN*/

.todo  {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 2rem ;
   margin-top: 1rem;
   font-size: .9rem;
   /*background: white;*/
   
}

.todo.done .content {
    text-decoration: line-through;   
    
}

/* TA BORT KNAPPEN */
.remove-button {
    padding: 0.4rem;
    border-radius: 20rem;
    outline: none;
    font-size: .9rem;
    margin: 1rem;
    cursor: pointer;
    display: inline-block; 
    
}
/*
button:hover {
    background: white;
}

.todo:last-of-type {
    border-bottom: 0;
}

.todo:nth-child(even) {
    background-color: #EEE;
    
}
*/